<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">cat</ion-title>
     <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Abyssin</h2>
<div class="item item-image">
    <img src="assets/ic/1.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>
<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">American Bobtail</h2>
<div class="item item-image">
    <img src="assets/ic/2.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">American CUrl</h2>
<div class="item item-image">
    <img src="assets/ic/3.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">American Shortair</h2>
<div class="item item-image">
    <img src="assets/ic/4.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">American Wirehair</h2>
<div class="item item-image">
    <img src="assets/ic/5.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Angora Truc</h2>
<div class="item item-image">
    <img src="assets/ic/6.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Balinais</h2>
<div class="item item-image">
    <img src="assets/ic/7.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Bengal</h2>
<div class="item item-image">
    <img src="assets/ic/8.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Bleu Russe</h2>
<div class="item item-image">
    <img src="assets/ic/9.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Bombay</h2>
<div class="item item-image">
    <img src="assets/ic/10.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">British Shorthair</h2>
<div class="item item-image">
    <img src="assets/ic/11.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Burmese</h2>
<div class="item item-image">
    <img src="assets/ic/12.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Burmilla</h2>
<div class="item item-image">
    <img src="assets/ic/13.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Ceylan</h2>
<div class="item item-image">
    <img src="assets/ic/14.jpg" style="border-radius: 80% ;border: 4px solid black" >
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Charteux</h2>
<div class="item item-image">
    <img src="assets/ic/15.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Chausie</h2>
<div class="item item-image">
    <img src="assets/ic/16.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Cornish Rex</h2>
<div class="item item-image">
    <img src="assets/ic/17.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Ragdoll</h2>
<div class="item item-image">
    <img src="assets/ic/18.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>

<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Siamois</h2>
<div class="item item-image">
    <img src="assets/ic/19.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>
<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Tiffany</h2>
<div class="item item-image">
    <img src="assets/ic/20.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>
<div class="list card" style="border: 1px solid grey">
    <h2 style="text-align: center">Singapura</h2>
<div class="item item-image">
    <img src="assets/ic/21.jpg" style="border-radius: 80% ;border: 4px solid black">
  </div>
</div>
</ion-content>
